# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# iOS
ios/

# Android
android/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.pem
